.content {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.back {
  background-color: #ffecd0;
}

.text {
  font-family: "Jost", sans-serif;
}

.text2 {
  font-family: "Nunito", sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.padcard {
  padding: 5px 5px 5px 5px;
}

.center {
  padding-top: 100px;
  margin: auto;
  width: 100px;
  text-align: center;
}
